.page-template {
    display: grid;
    grid-template-areas: 'h'
                        'm'
                        'f';  
}
header {
    position: sticky;
    top: 0;
    grid-area: 'h';
    height: 7rem;
}
main {
    grid-area: 'm';
    min-height: calc(100vh - 14rem);
}
footer {
    grid-area: 'f';
    height: 7rem;
}