.page-template {
    display: grid;
    grid-template-areas: 'h'
                        'm'
                        'f';  
}
header {
    grid-area: 'h';
    height: 5rem;
}
main {
    min-height: calc(100vh-15rem);
    grid-area: 'm';
}
footer {
    grid-area: 'f';
    height: 10rem;
    margin-top: auto;
}