.footer {
    display: flex;
    background: #ddd;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    margin-top: auto;
}

ul {
    display: flex;
    list-style-type: none;
}
