.Question {
    border: 1px solid black;
    flex: 1;
    height: 200px;
    @media only screen and (max-width: 768px) {
        height: 300px;
        transition: 1s;
    }
    @media only screen and (max-width: 414px) { 
        height: 400px;
        transition: 1s; 
    }
    
    
}